

<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <%= image_tag("haikei.jpg", :width => "100px") %>
            <h3 class="name">user name</h3>
        </div>

        <div class="col-xs-1">

        </div>

        <div class="col-xs-9">
            <div class="">
                <form>
                  <button type="submit" class="btn btn-default btn-lg">Words</button>
                  <button type="submit" class="btn btn-default btn-lg">Lessons</button>
                </form>
            </div>
            
            <div class="">
                <h2>Avtivities</h2>

                <ul class="list-group">
                    <li class="list-group-item"><a href="">Activity1</a></li>
                    <li class="list-group-item"><a href="">Activity2</a></li>
                  　<li class="list-group-item"><a href="">Activity3</a></li>    
                  　<li class="list-group-item"><a href="">Activity4</a></li>
                  　<li class="list-group-item"><a href="">Activity5</a></li>
                  　<li class="list-group-item"><a href="">Activity6</a></li>
                  　<li class="list-group-item"><a href="">Activity7</a></li>
                  　<li class="list-group-item"><a href="">Activity8</a></li>
                  　<li class="list-group-item"><a href="">Activity9</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



