<!DOCTYPE html>
<html>
<head>
  <title>FphFelsRor2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin-top: 30px;">

<%= yield %>

</body>
</html>
